{% extends "base.html" %}

{% block title %}Crear Tarea{% endblock %}

{% block content %}

<h1>Crear Nueva Tarea</h1>

<form method="POST">

    <div class="mb-3">
        <label>Titulo</label>
        <input type="text" name="titulo" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Descripcion</label>
        <textarea name="descripcion" class="form-control" rows="5"></textarea>
    </div>

    <div class="mb-3">
        <label>Fecha Entrega</label>
        <input type="date" name="fecha_entrega" class="form-control" required>
    </div>

    <button class="btn btn-success">
        Crear
    </button>

</form>

{% endblock %}