{% extends "base.html" %}

{% block title %}Mis Tareas{% endblock %}

{% block content %}

<h1>Administrar Tareas</h1>

<a href="/crear-tarea" class="btn btn-success mb-3">
    Nueva Tarea
</a>

<table class="table table-bordered">

    <thead class="table-dark">
        <tr>
            <th>Titulo</th>
            <th>Entrega</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.titulo }}</td>
            <td>{{ tarea.fecha_entrega }}</td>

            <td>
                <a href="/editar-tarea/{{ tarea.id }}" class="btn btn-warning btn-sm">
                    Editar
                </a>

                <a href="/eliminar-tarea/{{ tarea.id }}" class="btn btn-danger btn-sm">
                    Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}