{% extends "base.html" %}

{% block title %}Panel Profesor{% endblock %}

{% block content %}

<h1>Panel del Profesor</h1>

<div class="alert alert-success">
    Bienvenido {{ usuario }}
</div>

<div class="list-group">

    <a href="/crear-tarea" class="list-group-item list-group-item-action">
        Crear Tarea
    </a>

    <a href="/mis-tareas" class="list-group-item list-group-item-action">
        Administrar Tareas
    </a>

    <a href="/estudiantes" class="list-group-item list-group-item-action">
        Ver Estudiantes
    </a>

    <a href="/logout" class="list-group-item list-group-item-action text-danger">
        Cerrar Sesion
    </a>

</div>

{% endblock %}