{% extends "base.html" %}

{% block title %}Panel Estudiante{% endblock %}

{% block content %}

<h1>Panel del Estudiante</h1>

<div class="alert alert-primary">
    Bienvenido {{ usuario }}
</div>

<h3>Tareas Asignadas</h3>

<table class="table table-striped">

    <thead class="table-dark">
        <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Entrega</th>
        </tr>
    </thead>

    <tbody>
        {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.titulo }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>{{ tarea.fecha_entrega }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}